.parentimage {
	width: 300px;
	height: 300px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.parentimage:hover {
	-moz-transform: scale(3);
	-webkit-transform: scale(3);
	-o-transform: scale(3);
	/* -ms-transform: scale(2);
	transform: scale(2); */
}